### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.shape

(780, 7)

In [2]:
#Assign unique Purchase ID variable based on df shape.
unique_purchase = 780

## Player Count

* Display the total number of players

In [3]:
#Group by command to isolate unique values.
df = purchase_data.groupby('SN').nunique()
#Shape command to count rows, indicating number of unique values.
df.shape

(576, 7)

In [4]:
#Assign unique player variable based on df shape.
unique_players = 576

In [5]:
#Print Output.
print ('Player Count OUTPUT:')
print ('There are ' + str(unique_players) + ' unique players who have made purchases.')

Player Count OUTPUT:
There are 576 unique players who have made purchases.

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#Reset df
df = pd.read_csv(file_to_load)
#Group by command to isolate unique values.
df = purchase_data.groupby('Item ID').nunique()
#Shape command to count rows, indicating number of unique values.
df.shape

(183, 7)

In [7]:
#Assign unique items variable based on df shape.
unique_items = 183

In [8]:
#Reset df
df = pd.read_csv(file_to_load)

#Mean command to generate column averages
df.mean()

Purchase ID    389.500000
Age             22.714103
Item ID         92.114103
Price            3.050987
dtype: float64

In [9]:
#Assign mean price value based on df mean.
mean_price = 3.05

In [10]:
#Print Output
print ('Purchasing Analysis OUTPUT:')
print ("There are " + str(unique_items) + " unique item purchases.")
print ('The average purchase price is $' + str(3.05) + '.')

Purchasing Analysis OUTPUT:
There are 183 unique item purchases.
The average purchase price is $3.05.

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [11]:
df = df.groupby('Gender').nunique()

print (df)

                       Purchase ID   SN  Age  Gender  Item ID  Item Name  \
Gender
Female                         113   81   22       1       90         90
Male                           652  484   39       1      182        178
Other / Non-Disclosed           15   11    8       1       13         13

                       Price
Gender
Female                    79
Male                     144
Other / Non-Disclosed     12

In [12]:
#Assign unique gender variables based on df groupby, 
#unique = SN
unique_female = 81
unique_male = 484
unique_other = 11

#Calculate Percentages
per_female = ((unique_female/unique_players)*100)
per_male = ((unique_male/unique_players)*100)
per_other = ((unique_other/unique_players)*100)

In [13]:
#Print Output.
print ('Gender Demographics OUTPUT:')
print ('There are ' + str(unique_female) + ' female players, '
       + str(unique_male) + ' male players, and ' + str(unique_other)
       + ' other or non-disclosed players.')
print ('The player pool is ' + str(per_female) + '% female, ' 
       + str(per_male) + '% male, and ' + str(per_other) + '% other or non-discolsed.')

Gender Demographics OUTPUT:
There are 81 female players, 484 male players, and 11 other or non-disclosed players.
The player pool is 14.0625% female, 84.02777777777779% male, and 1.9097222222222223% other or non-discolsed.


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
print (df)

                       Purchase ID   SN  Age  Gender  Item ID  Item Name  \
Gender
Female                         113   81   22       1       90         90
Male                           652  484   39       1      182        178
Other / Non-Disclosed           15   11    8       1       13         13

                       Price
Gender
Female                    79
Male                     144
Other / Non-Disclosed     12

In [15]:
#Assign total purchase gender variables based on df groupby. 
#nuique = Purchase ID
totp_female = 113
totp_male = 652
totp_other = 15

In [16]:
#Reset df
df = pd.read_csv(file_to_load)
df = df.groupby('Gender').mean()

print (df)

                       Purchase ID        Age    Item ID     Price
Gender
Female                  379.380531  21.345133  85.477876  3.203009
Male                    392.516871  22.917178  93.524540  3.017853
Other / Non-Disclosed   334.600000  24.200000  80.800000  3.346000

In [17]:
#Assign mean gender variables based on df groupby.
female_age = 21.3
male_age = 22.9
other_age = 24.2
female_price = 3.20
male_price = 3.02
other_price = 3.35

In [18]:
#Create Summary DF
summary_df = pd.DataFrame({
    "Gender": ["Female", "Male", "Other"],
    "Total Purchases": [str(totp_female), str(totp_male), str(totp_other)],
    "Average Purchase $": [str(female_price), str(male_price), str(other_price)],
    "Average Age": [str(male_age), str(female_age), str(other_age)],
    "Average Purchases / Person": [str(totp_female/unique_female), str(totp_male/unique_male), str(totp_other/unique_other)]
})     

summary_df

,Gender,Total Purchases,Average Purchase $,Average Age,Average Purchases / Person
0,Female,113,3.2,22.9,1.3950617283950617
1,Male,652,3.02,21.3,1.3471074380165289
2,Other,15,3.35,24.2,1.3636363636363635

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [19]:
df = pd.read_csv(file_to_load)
bins = [0, 10, 15, 20, 25, 30, 35, 40, 100]
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

df["Age Summary"] = pd.cut(df["Age"], bins, labels=group_names)
age_groups = df.groupby("Age Summary")
age_groups_df = age_groups.count()
age_groups_df2 = age_groups_df[['SN']]
age_groups_df2

              SN
Age Summary
<10           32
10-14         54
15-19        200
20-24        325
25-29         77
30-34         52
35-39         33
40+            7

In [20]:
#Create Summary DF2
summary_df2 = pd.DataFrame({
    "Age Range": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
    "User Count": [32, 54, 200, 325, 77, 52, 33, 7],
    "%": [32/unique_players*100, 54/unique_players*100, 200/unique_players*100, 352/unique_players*100, 77/unique_players*100,
         52/unique_players*100, 33/unique_players*100, 7/unique_players*100]
})     

summary_df2

  Age Range  User Count          %
0       <10          32   5.555556
1     10-14          54   9.375000
2     15-19         200  34.722222
3     20-24         325  61.111111
4     25-29          77  13.368056
5     30-34          52   9.027778
6     35-39          33   5.729167
7       40+           7   1.215278

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [21]:
age_groups['Purchase ID'].count()

Age Summary
<10       32
10-14     54
15-19    200
20-24    325
25-29     77
30-34     52
35-39     33
40+        7
Name: Purchase ID, dtype: int64

In [22]:
age_groups['Price'].mean()

Age Summary
<10      3.405000
10-14    2.900000
15-19    3.107800
20-24    3.020431
25-29    2.875584
30-34    2.994423
35-39    3.404545
40+      3.075714
Name: Price, dtype: float64

In [23]:
#Create Summary DF3
summary_df3 = pd.DataFrame({
    "Age Range": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
    "Purchase Count": [32, 54, 200, 325, 77, 52, 33, 7],
    "%": [32/unique_purchase*100, 54/unique_purchase*100, 200/unique_purchase*100, 352/unique_purchase*100, 77/unique_purchase*100,
         52/unique_purchase*100, 33/unique_purchase*100, 7/unique_purchase*100],
    "Average Purchase $": ["3.40", "2.90", "3.1", "3.02", "2.88", "2.99", "3.40", "3.08"]
})     

summary_df3

  Age Range  Purchase Count          % Average Purchase $
0       <10              32   4.102564               3.40
1     10-14              54   6.923077               2.90
2     15-19             200  25.641026                3.1
3     20-24             325  45.128205               3.02
4     25-29              77   9.871795               2.88
5     30-34              52   6.666667               2.99
6     35-39              33   4.230769               3.40
7       40+               7   0.897436               3.08

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [24]:
#Reset df
df = pd.read_csv(file_to_load)

#Isolate purchases per unique SN
purchase_per_SN = df.groupby('SN')['Price'].count()
purchase_per_SN_df = pd.DataFrame(purchase_per_SN)
unique_SN_df = df.groupby('SN')['Price'].sum()

#Calculate prices
price_per_SN = df.groupby('SN')['Price'].mean()
purchase_per_SN_df['Average Purchase Price'] = price_per_SN
purchase_per_SN_df['Total Purchase Value'] = unique_SN_df
purchase_per_SN_df

# Rename 'Price' to 'Purchase Count'
updated_purchase_per_SN_df = purchase_per_SN_df.rename(columns={
    'Price': 'Purchase Count',
})

# Sort 'Price' from highest to lowest
sorted_SN_df = updated_purchase_per_SN_df.sort_values(by=['Total Purchase Value'], ascending=False)
sorted_SN_df

# Show top 5 spenders only
sorted_SN_df.head(10)

              Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                  5                3.792000                 18.96
Idastidru52                4                3.862500                 15.45
Chamjask73                 3                4.610000                 13.83
Iral74                     4                3.405000                 13.62
Iskadarya95                3                4.366667                 13.10
Ilarin91                   3                4.233333                 12.70
Ialallo29                  3                3.946667                 11.84
Tyidaim51                  3                3.943333                 11.83
Lassilsala30               3                3.836667                 11.51
Chadolyla44                3                3.820000                 11.46

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [25]:
#Reset df
df = pd.read_csv(file_to_load)

# Isolate total purchase count for each item
count_per_item = df.groupby('Item ID')['Price'].count()
count_per_item_df = pd.DataFrame(count_per_item)

# Isolate total purchase price of each item
unique_item_df = df.groupby('Item ID')['Price'].sum()

# Add name
item_name_df = df.iloc[:, 5]
count_per_item_df['Item Name'] = item_name_df

# Add price
item_price_df = df.iloc[:, 6]
count_per_item_df['Item Price'] = item_price_df

# Add value
count_per_item_df['Total Purchase Value'] = unique_item_df
count_per_item_df

# Clean up names
updated_count_per_item_df = count_per_item_df.rename(columns={
    'Price': 'Purchase Count',
})

# Rearrange 
organized_items_df = updated_count_per_item_df[['Item Name', 'Purchase Count', 'Item Price', 'Total Purchase Value']]

# Sort 
sorted_items_df = organized_items_df.sort_values(by=['Purchase Count'], ascending=False)

# Show top items only
sorted_items_df.head(10)

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
178,"Despair, Favor of Due Diligence",12,4.60,50.76
145,Hopeless Ebon Dualblade,9,1.33,41.22
108,Malificent Bag,9,1.75,31.77
82,Azurewrath,9,4.40,44.10
19,"Blazefury, Protector of Delusions",8,4.64,8.16
103,"Thorn, Satchel of Dark Souls",8,1.33,34.80
75,Venom Claymore,8,1.29,19.36
72,"Oathbreaker, Last Hope of the Breaking Storm",8,4.23,30.16
60,Bonecarvin Battle Axe,8,2.38,28.32
59,Hailstorm Shadowsteel Scythe,8,3.03,33.84

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [26]:
#Reset df
df = pd.read_csv(file_to_load)

# Isolate total purchase count for each item
count_per_item2 = df.groupby('Item ID')['Price'].count()
count_per_item2_df = pd.DataFrame(count_per_item2)

# Isolate total purchase price of each item
unique_item2_df = df.groupby('Item ID')['Price'].sum()

# Add name
item_name2_df = df.iloc[:, 5]
count_per_item2_df['Item Name'] = item_name2_df

# Add price
item_price2_df = df.iloc[:, 6]
count_per_item2_df['Item Price'] = item_price2_df

# Add total purchase value to table
count_per_item2_df['Total Purchase Value'] = unique_item2_df
count_per_item2_df

# CLean up names
updated_count_per_item2_df = count_per_item2_df.rename(columns={
    'Price': 'Purchase Count',
})

# Rearrange
organized_items2_df = updated_count_per_item2_df[['Item Name', 'Purchase Count', 'Item Price', 'Total Purchase Value']]

# Sort
sorted_items2_df = organized_items2_df.sort_values(by=['Total Purchase Value'], ascending=False)

# Show top items only
sorted_items2_df.head(10)

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
178,"Despair, Favor of Due Diligence",12,4.60,50.76
82,Azurewrath,9,4.40,44.10
145,Hopeless Ebon Dualblade,9,1.33,41.22
92,"Betrayal, Whisper of Grieving Widows",8,3.94,39.04
103,"Thorn, Satchel of Dark Souls",8,1.33,34.80
59,Hailstorm Shadowsteel Scythe,8,3.03,33.84
108,Malificent Bag,9,1.75,31.77
78,Dawn,7,4.60,30.80
72,"Oathbreaker, Last Hope of the Breaking Storm",8,4.23,30.16
60,Bonecarvin Battle Axe,8,2.38,28.32

In [47]:
print ("OUTPUT SUMMARY")
print ('*******************************')
print ('*******************************')
print ('*******************************')
print ('~~Player Count OUTPUT:~~')
print ('There are ' + str(unique_players) + ' unique players who have made purchases.')
print ('-------------------------------')
print ('~~Purchasing Analysis OUTPUT:~~')
print ("There are " + str(unique_items) + " unique item purchases.")
print ('The average purchase price is $' + str(3.05) + '.')
print ('-------------------------------')
print ('~~Gender Demographics OUTPUT:~~')
print ('There are ' + str(unique_female) + ' female players, '
       + str(unique_male) + ' male players, and ' + str(unique_other)
       + ' other or non-disclosed players.')
print ('The player pool is ' + str(per_female) + '% female, ' 
       + str(per_male) + '% male, and ' + str(per_other) + '% other or non-discolsed.')
print ('-------------------------------')
print ('~~Purchasing Analysis (Gender)~~')
print (summary_df)
print ('-------------------------------')
print ('~~Age Demographics~~')
print (summary_df2)
print ('-------------------------------')
print ('~~Purchasing Analysis (Age)~~')
print (summary_df3)
print ('-------------------------------')
print ('~~Top Spenders~~')
print (sorted_SN_df.head(10))
print ('-------------------------------')
print ('~~Most Popular Items~~')
print (sorted_items_df.head(10))
print ('-------------------------------')
print ('~~Most Profitable Items~~')
print (sorted_items2_df.head(10))

OUTPUT SUMMARY
*******************************
*******************************
*******************************
~~Player Count OUTPUT:~~
There are 576 unique players who have made purchases.
-------------------------------
~~Purchasing Analysis OUTPUT:~~
There are 183 unique item purchases.
The average purchase price is $3.05.
-------------------------------
~~Gender Demographics OUTPUT:~~
There are 81 female players, 484 male players, and 11 other or non-disclosed players.
The player pool is 14.0625% female, 84.02777777777779% male, and 1.9097222222222223% other or non-discolsed.
-------------------------------
~~Purchasing Analysis (Gender)~~
   Gender Total Purchases Average Purchase $ Average Age  \
0  Female             113                3.2        22.9
1    Male             652               3.02        21.3
2   Other              15               3.35        24.2

  Average Purchases / Person
0         1.3950617283950617
1         1.3471074380165289
2         1.3636363636363635
-------------------------------
~~Age Demographics~~
  Age Range  User Count          %
0       <10          32   5.555556
1     10-14          54   9.375000
2     15-19         200  34.722222
3     20-24         325  61.111111
4     25-29          77  13.368056
5     30-34          52   9.027778
6     35-39          33   5.729167
7       40+           7   1.215278
-------------------------------
~~Purchasing Analysis (Age)~~
  Age Range  Purchase Count          % Average Purchase $
0       <10              32   4.102564               3.40
1     10-14              54   6.923077               2.90
2     15-19             200  25.641026                3.1
3     20-24             325  45.128205               3.02
4     25-29              77   9.871795               2.88
5     30-34              52   6.666667               2.99
6     35-39              33   4.230769               3.40
7       40+               7   0.897436               3.08
-------------------------------
~~Top Spenders~~
              Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                  5                3.792000                 18.96
Idastidru52                4                3.862500                 15.45
Chamjask73                 3                4.610000                 13.83
Iral74                     4                3.405000                 13.62
Iskadarya95                3                4.366667                 13.10
Ilarin91                   3                4.233333                 12.70
Ialallo29                  3                3.946667                 11.84
Tyidaim51                  3                3.943333                 11.83
Lassilsala30               3                3.836667                 11.51
Chadolyla44                3                3.820000                 11.46
-------------------------------
~~Most Popular Items~~
                                            Item Name  Purchase Count  \
Item ID
178                   Despair, Favor of Due Diligence              12
145                           Hopeless Ebon Dualblade               9
108                                    Malificent Bag               9
82                                         Azurewrath               9
19                  Blazefury, Protector of Delusions               8
103                      Thorn, Satchel of Dark Souls               8
75                                     Venom Claymore               8
72       Oathbreaker, Last Hope of the Breaking Storm               8
60                              Bonecarvin Battle Axe               8
59                       Hailstorm Shadowsteel Scythe               8

         Item Price  Total Purchase Value
Item ID
178            4.60                 50.76
145            1.33                 41.22
108            1.75                 31.77
82             4.40                 44.10
19             4.64                  8.16
103            1.33                 34.80
75             1.29                 19.36
72             4.23                 30.16
60             2.38                 28.32
59             3.03                 33.84
-------------------------------
~~Most Profitable Items~~
                                            Item Name  Purchase Count  \
Item ID
178                   Despair, Favor of Due Diligence              12
82                                         Azurewrath               9
145                           Hopeless Ebon Dualblade               9
92               Betrayal, Whisper of Grieving Widows               8
103                      Thorn, Satchel of Dark Souls               8
59                       Hailstorm Shadowsteel Scythe               8
108                                    Malificent Bag               9
78                                               Dawn               7
72       Oathbreaker, Last Hope of the Breaking Storm               8
60                              Bonecarvin Battle Axe               8

         Item Price  Total Purchase Value
Item ID
178            4.60                 50.76
82             4.40                 44.10
145            1.33                 41.22
92             3.94                 39.04
103            1.33                 34.80
59             3.03                 33.84
108            1.75                 31.77
78             4.60                 30.80
72             4.23                 30.16
60             2.38                 28.32